.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  min-height: calc(100vh - 200px);
}

.login__container {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 40px;
  color: white;
  padding: 60px 68px 40px;
  min-height: 700px;
  width: 300px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.login__container a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.login__container a:hover {
  text-decoration: underline;
}

.login__container--form {
  display: flex;
  flex-direction: column;
}

.login__container--form label {
  font-size: 14px;
}

.login__container--rememberme {
  color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.login-label {
  display: flex;
  align-items: center;
}

.login-label p {
  margin-left: 3px;
}

.login__container--rememberme a {
  color: white;
  font-size: 14px;
  text-decoration: none;
}

.login__container--rememberme a:hover {
  text-decoration: underline;
}

.login__container--socialmedia > div {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 10px;
}

.login__container--socialmedia > div > img {
  width: 25px;
  margin-right: 10px;
}

.login__container--register {
  font-size: 14px;
}

.login__container--register a {
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}

.login__container--register a:hover {
  text-decoration: underline;
}

.login-input {
  background-color: transparent;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 2px solid white;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 0 20px;
  outline: none;
  height: 50px;
}

.button {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  font-family: "Mulish", sans-serif;
  height: 50px;
  letter-spacing: 1px;
  margin: 10px 0;
}
