@media only screen and (max-width: 600px) {
  .login__container {
    background-color: transparent;
    border: none;
    padding: 0;
    width: 100%;
  }
  .footer {
    align-items: flex-start;
    flex-direction: column;
  }
}

@media only screen and (max-width: 320px) {
  .header__img {
    width: 55px;
  }

  .header__leftsection p {
    font-size: 20px;
  }

  .header__menu {
    margin-right: 7px;
  }

  .header__menu--profile img {
    width: 35px;
  }
}
